.DS_Store
frontApp
frontApp.exe
frontEndApp
frontEndApp.exe
brokerApp
brokerApp.exe
authApp
authApp.exe
loggerServiceApp
loggerServiceApp.exe
mailerApp
mailerApp.exe
listenerApp
listenerApp.exe
db-data/
caddy_data/
caddy_config/